<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退票管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminRefund.css"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminRefund.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"class="active"><a href="/admin/movie/refund"><i class="icon-gift"></i> 退票管理 </a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">退票管理</span>
            <div>
                <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#refundModal"><i class="icon-plus-sign"></i>新增退票规则</button>
                <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#refund-changeModal"><i class="icon-plus-sign"></i>修改退票规则</button>
            </div>
        </div>
        <div class="content-refund">

        </div>
    </div>
</div>

<div class="modal fade" id="refund-changeModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title" id="refund-changeModalLabel">修改退票规则</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-name">规则名称</label>
                        <div class="col-sm-10">
                            <select id="refund-name" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-start-date"><span class="error-text">*</span>开始日期 </label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="refund-change-start-date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-end-date"><span class="error-text">*</span>开始日期 </label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="refund-change-end-date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-timelimit"><span class="error-text">*</span>天数限制 </label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-change-timelimit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-target-input"><span class="error-text">*</span>需满金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-change-target-input" placeholder="请输入参与活动需满金额">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-movie-input">参与电影</label>
                        <div class="col-sm-10">
                            <select id="refund-change-movie-input" class="form-control">
                            </select>
                            <p class="help-block">不选择代表所有电影</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-change-movie-input">已选电影</label>
                        <div id="selected-changed-movies" class="col-sm-10">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="refund-change-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="refundModalLabel">新增退票规则</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-name-input"><span class="error-text">*</span>规则名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-name-input" placeholder="请输入规则名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-start-date-input"><span class="error-text">*</span>开始日期</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="refund-start-date-input" placeholder="请输入规则开始日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-end-date-input"><span class="error-text">*</span>结束日期</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="refund-end-date-input" placeholder="请输入规则结束日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-time-input"><span class="error-text">*</span>天数限制</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-time-input" placeholder="请输入允许退票天数限制">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-target-input"><span class="error-text">*</span>需满金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-target-input" placeholder="请输入参与活动需满金额">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-movie-input">参与电影</label>
                        <div class="col-sm-10">
                            <select id="refund-movie-input" class="form-control">
                            </select>
                            <p class="help-block">不选择代表所有电影</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-movie-input">已选电影</label>
                        <div id="selected-movies" class="col-sm-10">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="refund-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>